.coaching_img {
    max-width: 45dvh;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 2dvh;
}

.souligner_texte {
    text-decoration: underline;
    text-underline-offset: 2px;
}