.liste_accueil {
    margin-top: 5dvh;
}

.item_image_accueil {
    width: 20%;
    height: auto;
}

.item_text_accueil {
    font-size: 20px;
    font-weight: bold;
}

.bouton_a_propos {
    position: relative;
    text-align: center;
}