.titre {
    top: 25%;
    position:absolute;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
}

.liste {
    top: 50px;
    margin: 10px;
    border-radius: 10px;
    padding:10px;
}

.item {
    --background: var(--ion-color-light);
    --color: var(--ion-color-dark);
    margin: 5px;
    border-radius: 10px;
}
