.liste_a_propos {
    margin-top: 2dvh;
    border-radius: 2%;
    padding: 2dvh;
}

.item_a_propos {
    --background: var(--ion-color-light);
    --color: var(--ion-color-dark);
    margin: 2dvh;
    border-radius: 5%;
}
