.format {
    margin: 2dvh;
    padding-top: 7dvh;
}

.titre {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 20px;
    line-height: 26px;
    padding-top: 1dvh;;
}

.contenu {
    padding-top: 4dvh;
    font-size: 16px;
    line-height: 24px;
}

.item_image {
    width: 8dvh;
    height: 8dvh;
    object-fit: cover;
}