.format {
    margin: 2dvh;
    padding-top: 7dvh;
}

.titre {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 26px;
    padding-top: 1.5dvh;
}

.sous_titre {
    font-size: 1.2em;
    padding-top: 1dvh;
}

.contenu {
    padding-top: 7dvh;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

.item_image {
    width: 8dvh;
    height: 8dvh;
    min-width: 8dvh;
    object-fit: cover;
}

p {
    padding-top: 2dvh;
}

ion-router-link:hover {
    text-decoration: underline;
    opacity: 0.7;
}

.bouton_centre {
    text-align: center;
    padding-top: 2dvh;
    border-radius: 2%;
}

.item_texte_liste {
    font-size: 16px;
    font-weight: bold;
    margin-left: 2dvh;
}

.item_liste {
    margin: 20px auto;
}

span.prix_livre {
    color: rgb(16, 137, 223);
}

.texte_centre {
    text-align: center;
}